<div class="conteiner">
    
    <h2>Notas de asignatura</h2>
    <table>
        <h3>Física moderna</h3>
      <thead>
        <tr>
          <th>Tipo de evaluación</th>
          <th>Nota del alumno</th>
          <th>Promedio del curso</th>
          <th>Mejor nota</th>
          <th>Peor nota</th>
          <th>Fecha de evaluación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Prueba 1</td>
          <td>7.5</td>
          <td>8.2</td>
          <td>9.5</td>
          <td>5.0</td>
          <td>10/01/2023</td>
        </tr>
        <tr>
          <td>Control 1</td>
          <td>8.0</td>
          <td>8.2</td>
          <td>9.5</td>
          <td>5.0</td>
          <td>15/01/2023</td>
        </tr>
        <tr>
          <td>Prueba 2</td>
          <td>6.5</td>
          <td>8.2</td>
          <td>9.5</td>
          <td>5.0</td>
          <td>22/01/2023</td>
        </tr>
        <tr>
          <td>Control 2</td>
          <td>9.0</td>
          <td>8.2</td>
          <td>9.5</td>
          <td>5.0</td>
          <td>29/01/2023</td>
        </tr>
      </tbody>
    </table>
</div>