<section id="anotacion">
    <div class="box1">
        <h1 style="color: red;"> Tiene 1 anotación nueva. </h1>
    </div>
    
    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p>Carlos Pérez - Matemáticas - Insulta a compañero - Negativa - 21/3/2023.
        <br>Alumno dice grocerias a su compañero.
        </p>
    </div>

    <div class="box">
        <p>Guillermo González - Artes - Comparte sus materiales - Positiva - 14/3/2023.
        <br>Estudiante comparte sus materiales y ayuda a sus compañeros.
        </p>
    </div>
    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>
