.box1 {
    background: lightsalmon; 
    font-size: 20px; 
    padding: 10px; 
    border: 1px solid lightsalmon; 
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}