<section id="noticias">

    <div class="box2">
        <p> Noticias relevantes </p>
    </div>

    <div class="box1">
        <h1 style="color: red;"> Tiene 1 noticia nueva. </h1>
    </div>
    
    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p>Ensayo prueba paes.
        <br>Instrucciones.
        <br>Fecha afectada: 20/7/2023
        </p>
    </div>

    
    
    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>