<section id="evaluacion">
    <div class="box1">
        <h1 style="color: red;"> Tiene 2 evaluaciones nuevas. </h1>
    </div>
    
    <div class="box">
        <h1 style="color: red;"> (2) </h1>
        <p> Matemáticas - Prueba 3 - Trigonometría - 20/4/2023</p>
    </div>

    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p> Lenguaje - Control de lectura - Páginas desde 220 hasta 230 del libro de clases - 19/4/2023</p>
    </div>

    <div class="box">
        <p> Inglés - Prueba 1 - Verbo to-be, adjetivos y profesiones - 10/4/2023</p>
    </div>
    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>