<br><br><br>

<div class="container">
    <div class="container row-cols-auto w-50">
        <h3 class="card-title mb-4 text-lg-center">Iniciar Sesion</h3>
        <div class="card-body col-form-label ">
            <form class="form-control" style="background-color:whitesmoke;" [formGroup]="formUser" name="registro" id="registro" action="exito.html"  >
                <div class="mb-2">
                    <label class="form-label form-text" for="">
                        Correo electrónico
                    </label>

                    <input type="email" formControlName="email" name="email"  class="form-control" placeholder="Por favor ingrese su correo electrónico" >

                    <div class="alert alert-danger mt-2" [hidden]="email.valid||email.pristine" >

                        <span *ngIf="email.errors?.['required']">El email es obligatorio</span>

                        <span *ngIf="email.errors?.['email']" >El email debe ser valido</span>

                    </div>

                    <div class="form-group">
                        <label class="form-text form-label" for="password">Contraseña:</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" formControlName="contra">
                    </div>


                </div>

                <button class="btn btn-primary" type="submit" [disabled]="formUser.invalid" (click)="addMessage()">
                    Entrar
                </button>
                

            </form>
        </div>
        <a class="nav-link active" routerLink="/registrarse"  routerLinkActive="active">No me he registrado aún</a>
    </div>

    <!--{{formUser.get('email')?.value|json}}
    {{formUser.get('contra')?.value|json}}-->
  
</div>
