<section id="reuniones">

    <div class="box2">
        <p> Reuniones </p>
    </div>

    <div class="box1">
        <h1 style="color: red;"> Tiene 1 aviso nuevo. </h1>
    </div>
    
    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p>Reunion mensual.
        <br>Informe de notas, actividades dia de la familia.
        <br>Fecha afectada: 19/4/2023
        </p>
    </div>

    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>
