.active{
    color: cadetblue;
}
h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    color: whitesmoke !important;
}
footer div p {
    text-align: center;
    color: #333;
    font-size: 14px;
    /*position:fixed;*/
    bottom: 0%;
    margin: 0px;
  }