<div class="bg-primary pb-2 pt-2">
  <h1 class="">Administrador Académico</h1>
</div>
<header class="d-flex justify-content-center py-3">
  <!-- Nav tabs -->
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active m" routerLink="/index" routerLinkActive="active">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/registrarse" routerLinkActive="active">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/notas" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/noticias" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/reuniones" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/materiales" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Materiales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/clases" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/anotaciones" [hidden]="!messagesService.messages[0]" routerLinkActive="active">Anotaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/evaluaciones" [hidden]="!messagesService.messages[0]"  routerLinkActive="active">Evaluaciones </a>
      </li>
    </ul>
  </nav>
  
  <section>
    <!--Titulos-->


  </section>
</header>
<h2>Organiza tu situación académica online</h2>
<div class="container">
 
<router-outlet  ></router-outlet>
   
</div>
<br><br><br>
<footer style=" position: relative; bottom: 0; align-items: center; width: 100%;">
  <div  style="margin-bottom: 3px; text-align: center;">
      <p>Derechos reservados &copy; 2023 Administrador Académico</p>
  </div>
</footer>