

<main>
    <h3>Funcionalidades:</h3>
    <ul>


        <li>
            <p> Notificar sobre fechas de evaluaciones fijadas, incluyendo fechas de controles, pruebas, trabajos,
                presentaciones, ensayos, entre otras. </p>
        </li>

        <li>
            <p> Comunicar las calificaciones de las evaluaciones que haya tenido el estudiante en una determinada
                asignatura.</p>
        </li>

        <li>
            <p> Dar a conocer fechas de reuniones de apoderados, así como también citaciones al apoderado que algún
                determinado profesor solicite.</p>
        </li>

        <li>
            <p> Hacer enterar sobre posibles anotaciones que el alumno haya recibido, además del contenido y razón de la
                anotación en sí.</p>
        </li>

        <li>
            <p> Indicar sobre materiales y objetos que se necesitan para alguna asignatura, como un determinado libro o
                útiles para hacer un trabajo.</p>
        </li>

        <li>
            <p> Anunciar otras fechas importantes que son de interés para el apoderado, como suspensiones de clases,
                días que celebra la institución y fechas donde ocurrirán premiaciones.</p>
        </li>

        <li>
            <p> Avisar sobre información miscelánea que puede ser de interés para el apoderado y el estudiante, como
                actividades extracurriculares, planes de aprendizaje de otros idiomas, datos sobre las pruebas SIMCE y
                PAES, entre otras.</p>
        </li>
    </ul>
</main>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.ytimg.com/vi/kkMNhu3vM20/maxresdefault.jpg" class="imgc" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.ecestaticos.com/cqLf7TzGLfVzxmNzKQiTk1OGQ0E=/3x38:699x429/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Ff4e%2F1e3%2Fb35%2Ff4e1e3b355c6524b9f12511160bf4380.jpg" class="imgc" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.cooperativa.cl/noticias/site/artic/20181127/imag/foto_0000000120181127204111.jpg" class="imgc" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>