<section id="avisosmateriales">

    <div class="box2">
        <p> Materiales y Herramientas necesarias </p>
    </div>

    <div class="box1">
        <h1 style="color: red;"> Tiene 1 aviso nuevo. </h1>
    </div>            

    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p>Física - Proyecto de aerodinámica - Verónica Díaz - 28/3/2023.
        <br>Queridos alumnos, recuerden que la próxima semana comenzaremos el proyecto de aerodinámica.
        <br>Lleven palos de maqueta, pegamento, cartón y cualquier otro material que estimen conveniente.
        <br>Fecha indicada: 4/4/2023
        </p>
    </div>

    <div class="box">
        <p>Lenguaje - Lectura en clases - Bruno Fuentes - 22/3/2023.
        <br>Estimados estudiantes, les informo que la próxima semana iniciaremos la lectura del primer libro del plan lector.
        <br>El libro es "El Hobbit" por J. R. R. Tolkien, pueden llevar fotocopias o un pdf en su celular si es necesario.
        <br>Fecha indicada: 29/4/2023
        </p>
    </div>
    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>
