<section id="avisosclases">

    <div class="box2">
        <p> Avisos sobre las clases </p>
    </div>

    <div class="box1">
        <h1 style="color: red;"> Tiene 2 avisos nuevos. </h1>
    </div>
    
    <div class="box">
        <h1 style="color: red;"> (2) </h1>
        <p>Suspensión de clases - 31/3/2023.
        <br>Estimados alumnos y apoderados, les comunico que se suspenderán las clases el próximo viernes, al ser semana santa. Saludos y feliz semana santa.
        <br>Fecha afectada: 7/4/2023
        </p>
    </div>

    <div class="box">
        <h1 style="color: red;"> (1) </h1>
        <p>Término anticipado de clases - 31/3/2023.
        <br>Estimados alumnos y apoderados, les informo que el próximo jueves las clases terminarán a las 13:00, al ser semana santa. Saludos cordiales.
        <br>Fecha afectada: 6/4/2023
        </p>
    </div>

    <div class="box">
        <p>Término anticipado de clases - 1/3/2023.
        <br>Estimados alumnos y apoderados, les comunico que el viernes de esta semana las clases terminarán a las 11:00. Saludos.
        <br>Fecha afectada: 3/3/2023
        </p>
    </div>
    <br>
    <br>
    <div class="center">                
        <button class="triangle-buttons">
            <div class="triangle-buttons__triangle triangle-buttons__triangle--r"></div>
        </button>
    </div>
    <br>
    <br>
</section>
